body {
    font-family: sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  .login-form, .signup-form {
    width: 50%;
    float: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }
  